* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth
}

body {
    background-color: rgb(21, 17, 95);
    color: white;
    font-size: 16px;
    line-height: 1.5;
}
h1,h2,h3{
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
}
h1 , h3{
    font-size: clamp(3.5rem, 5vw, 4rem);
}

p {
    font-family: 'nunito', sans-serif;
    font-weight: 400;
    font-size: clamp(0.87rem, 3vw, 1.2rem);
}

a {
    font-family: 'Orbitron', sans-serif;
    font-weight: 500;
    text-decoration: none;
    color: inherit;
}

/* =====nav====== */
nav {
    display: flex;
    position: fixed;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding: 0.8rem 1rem;
    border-bottom: 1px solid;
    backdrop-filter: blur(10px);
    border-image: linear-gradient(to right, transparent 0%, #0008ff 50%, transparent 100%) 1;
    z-index: 999;
    animation: fall 1s ease;
}

/*====== nexora logo =======*/
nav .logo {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 2rem;
    text-align: center;
    background: linear-gradient(to top, #009dfe 30%, rgb(144, 0, 255))56%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* =====nav animation===== */
@keyframes fall {
    from {
        opacity: 0;
        transform: translateY(-4em)
    }

    to {
        opacity: 1;
    }
}

nav ul {
    position: fixed;
    display: flex;
    opacity: 0;
    gap: 1.5em;
    transform: translateX(100%);
    transition: transform 0.25s ease-in-out;
    animation: fall 1s ease;
}

nav li {
    font-size: 1rem;
    list-style: none;
    position: relative;
    transition: all 0.15s ease-in-out;
}

nav li::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    background: linear-gradient(to right, transparent 20%, #0008ff 50%, transparent);
    transition: width 0.15s ease;
}

nav li:hover::after {
    width: 100%;
}

/* =====nav list hover===== */
nav li:hover {
    color: rgb(236, 162, 13);
    transform: translateY(-2px);
}

.contact-btn {
    display: none;
    margin: 0;
    padding: 0.5rem 1.8rem;
    background: linear-gradient(to right, #009dfe 30%, rgb(144, 0, 255))56%;
    transition: transform 0.25s ease, color 0.25s ease, box-shadow 0.25s ease;
}

.contact-btn:hover {
    transform: scale(1.05);
    color: white;
    box-shadow: 0 5px 15px rgb(0, 162, 255, 0.5);

}

/* =======burger======= */
.menu {
    display: none;
}

nav .burger-btn {
    background-color: transparent;
    color: aliceblue;
    border: none;
    padding: 0.6rem 0.9rem;
    font-size: 1.3rem;
    font-weight: 700;
    cursor: pointer;
    z-index: 1;
}

nav .burger-btn .close {
    display: none;
    user-select: none;
}

.menu:checked+.burger-btn .open-menu {
    visibility: hidden;
    user-select: none;

}

.menu:checked+.burger-btn .close {
    display: inline;
}

/* =======open menu========= */
.menu:checked+.burger-btn+ul {
    opacity: 1;
    flex-direction: column;
    min-height: 100vh;
    width: 50%;
    position: fixed;
    padding: 4rem 1rem;
    top: 0;
    right: 0;
    background: linear-gradient(45deg, black 10%, rgb(75, 75, 213));
    font-size: 1rem;
    backdrop-filter: blur(100px);
    transform: translateX(0%);
}

.menu:checked+.burger-btn+ul li {
    padding: 0.5rem;
    border-radius: 15px;
}

.menu:checked+.burger-btn+ul li:hover {
    background-color: rgb(10, 17, 70);
}

.menu:checked+.burger-btn+ul li:hover:after {
    width: 0;
}

/* ======.hero-section====== */
.hero-section {
    min-height: 100vh;
    position: relative;
    display: flex;
    padding: 4rem 2% 1rem 2%;
}

/* =====background video====== */
.bg-video {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background-color: antiquewhite;
}

.bg-video video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.bg-video::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(to bottom, rgba(21, 17, 95, 0.5) 0%, rgba(0, 0, 0, 0.4) 50%, rgb(21, 17, 95) 100%);
}

.hero-content {
    padding: 1.5rem 2%;
    animation: popup 2s ease;
}

/* =====article hero====== */
.article-hero .online {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    background-color: rgba(85, 82, 82, 0.575);
    backdrop-filter: blur(10px);
    border: 1px solid;
    border-radius: 50px;
    padding: 0.5rem 1rem;
    margin: 0.8em 0.4em;
    width: fit-content;

}

.online p {
    font-size: 0.8em;
}

.online-circ {
    height: 10px;
    width: 10px;
    background-color: rgb(42, 209, 42);
    border-radius: 10px;
    border: 1px solid black;
    animation: online 2s forwards infinite;
}

@keyframes online {
    0% {
        opacity: 0.5;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0.5;
    }
}

.article-hero .hero-title {
    line-height: 1.1;
    word-spacing: 5px;
    letter-spacing: 2px;
    text-align: center;
}

.effective {
    text-align: center;
    background: linear-gradient(to top, #009dfe 30%, rgb(144, 0, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.article-hero .p-hero {
    text-align: center;
    line-height: 1.6em;
    padding: 1rem 0;

}

/* ======.hero-buttons======= */
.hero-buttons {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 0;
}

.hero-buttons a {
    animation: popup 2s ease;
}

main .btn,
nav>a {
    display: block;
    width: fit-content;
    font-size: 1.2rem;
    font-family: "Oswald", monospace;
    border-radius: 50px;
    padding: 0.8rem 3rem;
    margin: 0 auto;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}

.hero-buttons a:last-child {
    border: 1px solid rgba(255, 255, 255, 0.466);
    color: white;
    background-color: transparent;
}

/* =====hero-pictures====== */
.hero-pictures {
    display: none;
    position: relative;
    padding: 1.5rem;
    min-height: 100vh;
    animation: popup 2s ease;
}

.hero-pictures .picture-right {
    background: url("../pictures/hero-right.jpg") no-repeat center / cover;
    border-radius: 16px;
    outline: 6px solid rgba(78, 75, 75, 0.305);
    height: 350px;
    width: 300px;
    animation: popup-rotate-right 2s ease;
}

.hero-pictures .picture-top-left {
    background: url("../pictures/table.jpg") no-repeat center / cover;
    border-radius: 10px;
    outline: 6px solid rgba(78, 75, 75, 0.363);
    position: absolute;
    height: 120px;
    width: 120px;
    transform: translate(-30%, -160%) rotate(-10deg);
    animation: popup-rotate-left 2s forwards;
}

.hero-pictures .picture-bottom-left {
    background: url("../pictures/group-of-no-one.jpg") no-repeat center / cover;
    border-radius: 10px;
    outline: 6px solid rgba(78, 75, 75, 0.452);
    height: 160px;
    width: 160px;
    animation: popup-bottom-left 2s forwards;
}

@keyframes popup {
    0% {
        opacity: 0;
        transform: translate(-10%, 5%);
    }

    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}

@keyframes popup-rotate-right {
    from {
        opacity: 0;
        transform: scale(0.7) rotate(-20deg);
    }

    to {
        opacity: 1;
        transform: scale(1) rotate(0deg);
    }

}

@keyframes popup-rotate-left {
    from {
        opacity: 0;
        transform: translate(-30%, -100%) rotate(-10deg);
        ;
    }

    to {
        opacity: 1;
        transform: translate(-30%, -160%) rotate(-10deg);
        ;
    }

}

@keyframes popup-bottom-left {
    from {
        opacity: 0;
        transform: translate(-40%, -50%) rotate(10deg);
    }

    to {
        opacity: 1;
        transform: translate(-30%, -40%) rotate(10deg);
    }
}

/* ===about section===== */
.about-section {
    position: relative;
    padding: 6rem 2%;
    background: url('../pictures/About3D.jpg');
}

/* =========article============= */
.article-about {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    padding: 1rem;
}

.about-title {
    flex: 2;
}

.p-about {
    font-size: clamp(0.8rem, 1vw, 1.2rem);
    flex: 1;
    text-align: center;
}

/* =======why-us container========== */
.why-us {
    display: flex;
    gap: 1rem;
}

.why-us .list-about {
    flex: 2;
}

/* =======items======== */
.list-about .item {
    display: flex;
    gap: 1rem;
    background: linear-gradient(to right, rgba(0, 157, 254, 0.15), transparent);
    border-left: 3px solid transparent;
    padding: 1rem 0.5rem;
    border-bottom: 1px solid rgb(71, 67, 67);
    transition: all 0.3s ease;
    cursor: pointer;
}

/* =======items hover======== */
.list-about .item:hover {
    border-left-color: #009dfe;
    box-shadow: 0 10px 30px rgba(13, 17, 236, 0.386) inset, 0 -10px 30px rgba(13, 17, 236, 0.632) inset;
    background-color: rgba(255, 255, 255, 0.03);
}

.list-about:has(.obj:hover) .item1:not(:hover) {
    border-left-color: transparent;
    box-shadow: none;
    background-color: transparent;
}

.list-about .item:last-of-type {
    border-bottom: none;
}

/* =====effect hover item on picture======= */
.list-about:has(.item1:hover)~.images-about {
    background: url('/pictures/about01.jpeg') center/cover no-repeat;
}

.list-about:has(.item2:hover)~.images-about {
    background: url('/pictures/About2.webp') center/cover no-repeat;
}

.list-about:has(.item3:hover)~.images-about {
    background: url('/pictures/about03.webp') center/150% no-repeat;
}

.list-about:has(.item4:hover)~.images-about {
    background: url('/pictures/about04.webp') center/cover no-repeat;
}

/* =======numbers======== */
.list-about .item .numbers ,.numbers {
    color: #868a8e;
    font-family: 'Orbitron', sans-serif;
    font-weight: bold;
    transition: color 0.3s ease;
}

/* =======numbers hover======== */
.item:hover .numbers {
    color: #009dfe;
}

/* =====picture container====== */
.images-about {
    display: none;
    flex: 1;
    height: 300px;
    border-radius: 1rem;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.65) inset, -10px -10px 20px rgba(0, 0, 0, 0.65) inset;
    background: url('/pictures/about01.jpeg') center/cover no-repeat;
}
.services-section{
    background: linear-gradient(180deg, #111, #000);
    padding: 6rem 2%;
}
.arcticle-services{
    text-align: center;
}
.container-cards{
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    flex-direction: column;
    align-items:stretch;
    gap:1rem;
}
.services-section .card{
    border-radius: 1rem;
    min-height: 50vh;
    background: linear-gradient(180deg, #111, #000);
    border:1px solid rgb(95, 95, 97);
    box-shadow: 0 15px 40px rgba(0,0,0,0.2);
    flex:1 1 300px;
    padding: 1rem;
    
}
.article-card .numbers{
    font-family:Oswald,sans-serif;
    font-weight: 100;
    font-size: x-large;
    padding:0.5rem 0;
}
.article-card{ overflow: hidden;}
.card:nth-child(1){
    margin-left: 0;
    z-index: 5;
}
.card:nth-child(2){
    z-index: 4;
}
.card:nth-child(3){
    z-index: 3;
}
.card:nth-child(4){
    z-index: 2;
}
.card:nth-child(5){
    z-index: 1;
}

h3[class*=title-service-card]{
    font-size:xx-large;
}
p[class*=p-service-card]{
    padding:10px 0;
}
/* =======Responsive mobile======= */
@media screen and (min-width:768px) {
    body {
        font-size: 18px;
    }

    nav {
        padding: 0.8rem 2.4rem;
    }

    nav ul {
        display: flex;
        position: static;
        padding: 0.8rem 1.6rem;
        border-radius: 50px;
        border: 1px solid rgb(86, 93, 112);
        transform: translateX(0);
        opacity: 1;
    }

    .contact-btn {
        display: block;
    }

    .menu {
        display: none;
    }

    .burger-btn {
        display: none;
    }

    .article-hero .hero-title,
    .effective,
    .article-hero .p-hero {
        width: 100%;
        text-align: left;
    }

    .hero-buttons {
        flex-direction: row;
    }

    main .btn {
        margin: 0;
    }

    .hero-pictures {
        display: block;
    }

    .article-about {
        flex-direction: row;
        gap: 3rem;
    }

    .list-about .item1 {
        border-left-color: #009dfe;
        box-shadow: 0 10px 30px rgba(13, 17, 236, 0.386) inset, 0 -10px 30px rgba(13, 17, 236, 0.632) inset;
        background-color: rgba(255, 255, 255, 0.03);
    }

    .images-about {
        display: block;
    }
    .services-section .container-cards{
        flex-direction: row;
    }
}

/* =======Responsive Tablet======= */
@media screen and (min-width:1024px) {
    body {
        font-size: 20px;
    }

    .article-hero .hero-title,
    .effective,
    .article-hero .p-hero {
        width: 60%;
    }
    .container-cards{gap:0;flex-wrap: nowrap;}
    .services-section .card{
        margin-left: -30px;
        min-height: 90vh;
    }
}