* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth
}

body {
    background-color: rgb(21, 17, 95);
    color: white;
    font-size: 16px;
    line-height: 1.5;
}
h1,h2,h3,h4,.section-service-detail span{
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
}
h1 , h3 , .section-service-detail span{
    font-size: clamp(3.5rem, 5vw, 4rem);
}

p {
    font-family: 'nunito', sans-serif;
    font-weight: 400;
    font-size: clamp(0.87rem, 3vw, 1.2rem);
}

a {
    font-family: 'Orbitron', sans-serif;
    font-weight: 500;
    text-decoration: none;
    color: inherit;
}

/* =====nav====== */
nav {
    display: flex;
    position: fixed;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding: 0.8rem 1rem;
    border-bottom: 1px solid;
    backdrop-filter: blur(10px);
    border-image: linear-gradient(to right, transparent 0%, #0008ff 50%, transparent 100%) 1;
    z-index: 999;
    animation: fall 1s ease;
}
/*====== nexora logo =======*/
nav .logo {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 2rem;
    text-align: center;
    background: linear-gradient(to top, #009dfe 30%, rgb(144, 0, 255))56%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: default;
}

/* =====nav animation===== */
@keyframes fall {
    from {
        opacity: 0;
        transform: translateY(-4em)
    }

    to {
        opacity: 1;
    }
}

nav ul {
    position: fixed;
    display: flex;
    opacity: 0;
    gap: 1.5em;
    transform: translateX(100%);
    transition: transform 0.25s ease-in-out;
    animation: fall 1s ease;
}

nav li {
    font-size: 1rem;
    list-style: none;
    position: relative;
    transition: all 0.15s ease-in-out;
}

nav li::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    background: linear-gradient(to right, transparent 20%, #0008ff 50%, transparent);
    transition: width 0.15s ease;
}

nav li:hover::after {
    width: 100%;
}

/* =====nav list hover===== */
nav li:hover {
    color: rgb(236, 162, 13);
    transform: translateY(-2px);
}

.contact-btn {
    display: none;
    margin: 0;
    border: none;
    padding: 0.5rem 1.8rem;
    background: linear-gradient(to right, #009dfe 30%, rgb(144, 0, 255))56%;
    transition: transform 0.25s ease, color 0.25s ease, box-shadow 0.25s ease;
}

.contact-btn:hover {
    transform: scale(1.05);
    color: white;
    box-shadow: 0 5px 15px rgb(0, 162, 255, 0.5);

}

/* =======burger======= */
.menu {
    display: none;
}

nav .burger-btn {
    background-color: transparent;
    color: aliceblue;
    border: none;
    padding: 0.6rem 0.9rem;
    font-size: 1.3rem;
    font-weight: 700;
    cursor: pointer;
    z-index: 1;
}

nav .burger-btn .close {
    display: none;
    user-select: none;
}

.menu:checked+.burger-btn .open-menu {
    visibility: hidden;
    user-select: none;

}

.menu:checked+.burger-btn .close {
    display: inline;
}

/* =======open menu========= */
.menu:checked+.burger-btn+ul {
    opacity: 1;
    flex-direction: column;
    min-height: 100vh;
    width: 50%;
    position: fixed;
    padding: 4rem 1rem;
    top: 0;
    right: 0;
    background: linear-gradient(to bottom, rgb(6, 97, 154) 30%, rgb(80, 8, 135));
    font-size: 1rem;
    backdrop-filter: blur(100px);
    transform: translateX(0%);
}

.menu:checked+.burger-btn+ul li {
    padding: 0.5rem;
    border-radius: 15px;
}

.menu:checked+.burger-btn+ul li:hover {
    background-color: rgb(10, 17, 70);
}

.menu:checked+.burger-btn+ul li:hover:after {
    width: 0;
}

/* ======.hero-section====== */
.hero-section {
    min-height: 100vh;
    position: relative;
    display: flex;
    padding: 4rem 2% 1rem 2%;
}

/* =====background video====== */
.bg-video {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background-color: antiquewhite;
}

.bg-video video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.bg-video::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(to bottom, rgba(21, 17, 95, 0.5) 0%, rgba(0, 0, 0, 0.4) 50%, rgb(21, 17, 95) 100%);
}

.hero-content {
    padding: 1.5rem 2%;
    animation: popup 2s ease;
    cursor: default;
}

/* =====article hero====== */
.online {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    background-color: rgba(85, 82, 82, 0.575);
    backdrop-filter: blur(10px);
    border: 1px solid;
    border-radius: 50px;
    padding: 0.5rem 1rem;
    margin: 0.8em 0.4em;
    width: fit-content;
    cursor: default;

}

.online p {
    font-size: 0.8em;
}

.online-circ {
    height: 10px;
    width: 10px;
    background-color: rgb(42, 209, 42);
    border-radius: 10px;
    border: 1px solid black;
    animation: online 2s forwards infinite;
}

@keyframes online {
    0% {
        opacity: 0.5;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0.5;
    }
}

.article-hero .hero-title {
    line-height: 1.1;
    word-spacing: 5px;
    letter-spacing: 2px;
    text-align: center;
}

.effective {
    text-align: center;
    background: linear-gradient(to top, #009dfe 30%, rgb(144, 0, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.article-hero .p-hero {
    text-align: center;
    line-height: 1.6em;
    padding: 1rem 0;

}

/* ======.hero-buttons======= */
.hero-buttons {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 0;
}

.hero-buttons a {
    animation: popup 2s ease;
}

main .btn,
nav>a {
    display: block;
    width: fit-content;
    font-size: 1.2rem;
    font-family: "Oswald", monospace;
    border-radius: 50px;
    padding: 0.8rem 3rem;
    margin: 0 auto;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}

.hero-buttons a:last-child {
    border: 1px solid rgba(255, 255, 255, 0.466);
    color: white;
    background-color: transparent;
}

/* =====hero-pictures====== */
.hero-pictures {
    display: none;
    position: relative;
    padding: 1.5rem;
    min-height: 100vh;
    animation: popup 2s ease;
}

.hero-pictures .picture-right {
    background: url("../pictures/hero-right.jpg") no-repeat center / cover;
    border-radius: 16px;
    outline: 6px solid rgba(78, 75, 75, 0.305);
    height: 350px;
    width: 300px;
    animation: popup-rotate-right 2s ease;
}

.hero-pictures .picture-top-left {
    background: url("../pictures/table.jpg") no-repeat center / cover;
    border-radius: 10px;
    outline: 6px solid rgba(78, 75, 75, 0.363);
    position: absolute;
    height: 120px;
    width: 120px;
    transform: translate(-30%, -160%) rotate(-10deg);
    animation: popup-rotate-left 2s forwards;
}

.hero-pictures .picture-bottom-left {
    background: url("../pictures/group-of-no-one.jpg") no-repeat center / cover;
    border-radius: 10px;
    outline: 6px solid rgba(78, 75, 75, 0.452);
    height: 160px;
    width: 160px;
    animation: popup-bottom-left 2s forwards;
}

@keyframes popup {
    0% {
        opacity: 0;
        transform: translate(-10%, 5%);
    }

    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}

@keyframes popup-rotate-right {
    from {
        opacity: 0;
        transform: scale(0.7) rotate(-20deg);
    }

    to {
        opacity: 1;
        transform: scale(1) rotate(0deg);
    }

}

@keyframes popup-rotate-left {
    from {
        opacity: 0;
        transform: translate(-30%, -100%) rotate(-10deg);
        ;
    }

    to {
        opacity: 1;
        transform: translate(-30%, -160%) rotate(-10deg);
        ;
    }

}

@keyframes popup-bottom-left {
    from {
        opacity: 0;
        transform: translate(-40%, -50%) rotate(10deg);
    }

    to {
        opacity: 1;
        transform: translate(-30%, -40%) rotate(10deg);
    }
}
hr{
    border: 1.5px solid; 
   border-image: linear-gradient(to right, transparent 0%, #0008ff 50%, transparent 100%) 1;
}
/* ===========trusted by section================= */
.trusted-section{
    padding: 4rem 2%;
}
/* =================trusted by title======================= */
.trusted-section h1{
    position:relative;
    text-align:center;
    margin-bottom:3rem;
}
/* ===================underline titles================================= */
.trusted-section h1::after ,.services-title::after{
    position: absolute;
    content:"";
    bottom:10px;
    left:50%;
    transform: translate(-50%);
    width:100px;
    height: 3px;
    border-radius: 5px;
    background: linear-gradient(to right, #009dfe 30%, rgb(144, 0, 255));
}
/* =========================spin animation================================== */
.trusted-infinit{
    mask-image: linear-gradient(to right, rgb(0,0,0,0),rgb(0,0,0,1)20%,rgb(0,0,0,1)80%, rgb(0,0,0,0));
    display: flex;
    overflow: hidden;
    padding:4rem;
    height: 200px;
}
.logo-trusted{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    animation: spin 30s linear infinite;
}
.trusted-infinit:has(.logo-trusted svg:hover) .logo-trusted {
    animation-play-state: paused;
}
svg:hover{scale: 1.05;cursor: pointer;}
/* =======animation left scroll======= */
@keyframes spin {
  from { transform: translateX(0); }
  to   { transform: translateX(-100%); }
}
.statistic{
    padding:4rem 0;
    display: flex;
    gap:3rem;
    overflow: scroll;
    mask-image: linear-gradient(to right, rgba(0,0,0,0),rgba(0,0,0,1)10%,rgba(0,0,0,1)90%, rgb(0,0,0,0));
    scrollbar-width: none;
    background: linear-gradient(to bottom,transparent, rgba(96, 10, 202, 0.477),rgba(0, 140, 255, 0.436),transparent);
}
.statistic::-webkit-scrollbar{
    display: none;
}
.statistic .info{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border:1px solid #868a8e;
    border-radius: 1rem;
    padding:2rem;
    height: 250px;
    width: 150px;
    background-color: rgba(43, 42, 42, 0.461);
    backdrop-filter:blur(20px);
    transition: transform 0.5s ease;
}

/* ===about section===== */
.about-section {
    position: relative;
    padding: 4rem 2%;
    background: linear-gradient(to bottom,transparent, #111, #000 , transparent);
}

/* =========article============= */
.article-about {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    padding: 1rem;
}

.about-title {
    flex: 2;
}

.p-about {
    font-size: clamp(0.8rem, 1vw, 1.2rem);
    flex: 1;
    text-align: center;
}

/* =======why-us container========== */
.why-us {
    display: flex;
    gap: 1rem;
}

.why-us .list-about {
    flex: 2;
}

/* =======items======== */
.list-about .item {
    display: flex;
    gap: 1rem;
    background: linear-gradient(to right, rgba(0, 157, 254, 0.15), transparent);
    border-left: 3px solid transparent;
    padding: 1rem 0.5rem;
    border-bottom: 1px solid rgb(71, 67, 67);
    transition: all 0.3s ease;
    cursor: pointer;
}

/* =======items hover======== */
.list-about .item:hover {
    border-left-color: #009dfe;
    box-shadow: 0 10px 30px rgba(13, 17, 236, 0.386) inset, 0 -10px 30px rgba(13, 17, 236, 0.632) inset;
    background-color: rgba(255, 255, 255, 0.03);
}

.list-about:has(.obj:hover) .item1:not(:hover) {
    border-left-color: transparent;
    box-shadow: none;
    background-color: transparent;
}

.list-about .item:last-of-type {
    border-bottom: none;
}
/* =====picture container====== */
.images-about {
    display: none;
    overflow: hidden;
    flex: 1;
    height: 300px;
    border-radius: 1rem;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.65) inset, -10px -10px 20px rgba(0, 0, 0, 0.65) inset;
}
/* =====effect hover item on picture======= */
.images-about img{
    display:none;
    height: 100%;
    width:100% ;
    object-fit: cover;
}
.images-about img:nth-child(3){
    height: 150%;
}
.images-about img:nth-child(1){
    display:block;
}
.list-about:has(.item:hover)~.images-about img:first-of-type{
    display:none;
}
.list-about:has(.item1:hover)~.images-about img:nth-child(1),
.list-about:has(.item2:hover)~.images-about img:nth-child(2),
.list-about:has(.item3:hover)~.images-about img:nth-child(3),
.list-about:has(.item4:hover)~.images-about img:nth-child(4){
    display: block;
}
/* =======numbers======== */
.list-about .item .numbers ,.numbers {
    color: #868a8e;
    font-family: 'Orbitron', sans-serif;
    font-weight: bold;
    transition: color 0.3s ease;
}

/* =======numbers hover======== */
.item:hover .numbers {
    color: #009dfe;
}
/* ================.services-section====================== */
.services-section{
    background: linear-gradient(to bottom,transparent, #111, #000 , transparent);
    padding: 6rem 2%;
}
.article-services{text-align: center;}
.services-title{position: relative;}
/* ================cards of services================= */
.container-cards{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 3rem 1rem;
    gap:1rem;
}
.services-section .card{
    border-radius: 1.8rem;
    min-height: 50vh;
    background-color:#111;
    border:1px solid rgb(95, 95, 97);
    box-shadow: 0 15px 40px rgba(0,0,0,0.2);
    flex:1 1 20%;
    padding: 1rem;
    transition: transform 0.5s ease , background-color  0.5s ease , box-shadow  0.5s ease, flex-grow 0.5s ease;
    
}
.container-cards .numbers{
    font-family:Oswald,sans-serif;
    font-weight: 100;
    text-align: end;
    font-size: x-large;
    padding:0.5rem 0;
}
.article-card{
    width: 240px; 
    padding:0 2rem 0 0.5rem;
}
h3[class*=title-service-card]{font-size:xx-large;}
p[class*=p-service-card]{padding: 1rem 0;font-size: clamp(0.87rem, 1vw, 1rem);}
/* ==============layers============= */
.growing{
    width:100%;
}
.card:nth-child(1){margin-left: 0;z-index: 5;}.card:nth-child(2){ z-index: 4;}.card:nth-child(3){z-index: 3;}.card:nth-child(4){z-index: 2;}.card:nth-child(5){z-index: 1;}
.services-section .card .btn{
    margin-top: 3rem;
    background-color:transparent;
    color:#efedea;
    border:2px solid #efedea;
}
/* ==============consultation section================= */
.consultation-section{
    padding-bottom: 6rem;
    font-size: 10px;
}
.consultation{
    background-color: #000;
    border-radius:1rem;
    display: flex;
    width: 90%;
    min-height:50vh;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:1rem;
    padding:3rem; 
    box-shadow: 0 15px 25px rgba(21, 20, 20, 0.9);
}
.consultation-title ,.p-consultation,.consultation .btn{text-align: center;}
.consultation-title{
  font-size: clamp(1.5rem, 3vw, 4rem);
  font-weight: bold;
}
.consultation .btn{
    font-size:clamp(0.8rem, 1.5vw, 2rem);
    padding:0.8rem 2rem;}
/* ============CTA section============== */
.CTA-section{
    padding: 4rem 2%;
    background: linear-gradient(to bottom,transparent, #111, #000 , transparent);
}
.content-CTA{
    display: flex;
    flex-direction: column;
    gap:2rem;
}
.CTA-title,.p-CTA{text-align: center;}
/* =====================FORM================ */
form{display: flex;flex-direction:column;justify-content:stretch}
form label{
    color: #efedea;
    padding:0.5rem 0rem 0 0.2rem;
}
form input , textarea{
    margin: 0.2rem 0;
    padding: 1.5rem 1rem;
    border-radius: 0.5rem;
    border: 1px solid rgb(55, 54, 54);
    background-color: #000;
    color:#efedea;
    resize: none;
}
.label{position: relative;margin-bottom: 5px;}
.label::after{
    display: block;
    position: absolute;
    bottom:-20px;
    font-family:'Bebas Neue', sans-serif;
}
form input::placeholder , textarea::placeholder{
    font-family: 'Bebas Neue', sans-serif;
    color: #868a8e92;
    font-size:20px;
    letter-spacing:1px;
}
form input:focus ,form textarea:focus{outline:1px solid white;box-shadow: 0 5px 23px rgba(218, 218, 219, 0.4);}
/* =================INVALID MASG==================== */
form input[type=text]:focus:invalid~.lab-1::after,form input[type=email]:focus:invalid~.lab-2::after,form input[type=tele]:focus:invalid~.lab-3::after,form textarea:focus:invalid~.lab-4::after{
    content: "invalid !";
    color:rgb(251, 0, 0)

}
/* ==================VALID MASG==================== */
form input[type=text]:focus:valid~.lab-1::after,form input[type=email]:focus:valid~.lab-2::after,form input[type=tele]:focus:valid~.lab-3::after,form textarea:focus:valid~.lab-4::after{
    position: absolute;
    bottom:-20px;
    content: "valid !";
    color:rgb(31, 196, 86)

}
form .contact-btn{
    display: block;
    border:none;
    border-radius:10px;
    width: 200px;
    margin-top: 15px;
    font-family:'Bebas Neue', sans-serif;
    letter-spacing: 2px;
}
/* =====================technologie-section================== */
.technologie-section{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 4rem 2%;
}
.article-tech{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:2rem;
}
.tech-title , .tech-p{
    text-align: center;
    width: 100%;
}
/* ======================== */
.technologies{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1rem;
    gap:1rem;
}
.technologies div[class^=tech]{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #111;
    width:100px;
    height:100px;
    border-radius: 10px;
    transition: background-color 0.5s ease;
}
.technologies div[class^=tech]:hover{
    background-color: #1b1a1a;
}
.technologies div[class^=tech]:hover .img-light{
    transform: scale(1.15);
}
.img-light{
    width: 120px;
    height: 120px;
    transition: transform 0.5s ease;
}
/* =========services detail=========== */
.main {
    min-height: 100vh;
    background:linear-gradient(to top,rgba(0, 0, 0, 0.587) , #15115f);
    display: flex;
    flex-direction: column;
    gap:4rem;
}
.main .back{
    margin-bottom: 4rem;
}
.main .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 2%;
    background:linear-gradient(rgba(9, 9, 105, 0.715),rgba(0, 0, 0, 0.587) ,#120e4d), url("../pictures/srvOne.png") center/cover no-repeat;
    min-height: 100vh;
}
.pic-srv{
    display:none;
    align-items: center;
    justify-content:center;
    height: 100%;
    flex:1 1 30%;
}
.pic-srv .pic{
    border-radius:1.5rem;
    height: 300px;
    width: 300px;
    background: url("../pictures/srvOne.png") center/cover no-repeat;
}
.article-service-detail-sv-one{ flex:1 1 70%;}
.article-service-detail-sv-one>*{
    display:block; 
}
.article-service-detail-sv-one h1{max-width: 35ch;}
.container-online{
    display: flex;
    align-items: center;
    gap:1rem;
    padding: 2rem 2%;
}
.main > article{
    padding: 2rem;
    width: 50ch;
}

.section-service-detail{
    padding: 2rem 2%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    align-items:stretch;
    justify-content: space-evenly; 
}
.section-service-detail > *{
    position: sticky;
    top:20px;
    font-family: 'nunito', sans-serif;
    background-color:#000;
    display: flex;
    flex-direction:column;
    justify-content:space-between;
    padding: 1rem;
    flex: 1 1 auto;
    z-index: 0;
    line-height: 2.25;
    border-radius: 1.5rem;
    border:2px solid rgb(178, 174, 150);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.4);
    overflow: hidden;
    transition: transform 0.5s ease ;
}
.section-service-detail > *::before{
    z-index: 0;
    content: "";
    right: -90px;
    top:-90px;
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    background:linear-gradient(150deg, #6a00ffb0, transparent 70%);
    transition: transform 0.5s ease;
}
.section-service-detail > *:hover{transform: scale(1.03);}
.section-service-detail > *:hover::before {
    transform: rotate(45deg) scale(5);
}
.section-service-detail .legendary{
    background: #0737d5;
    border:2px solid gold;
    z-index: 2;
    order:3
}
.section-service-detail .premium{
    top:70px;
    background: #7f11be;
    border:2px solid rgb(117, 14, 151);
    order: 2;
    z-index:1;
}
.section-service-detail .premium::before{
 background:linear-gradient(150deg, #000000fd, transparent 70%)   
}
.section-service-detail .legendary::before{ background:linear-gradient(150deg, #fffefe87, transparent 70%)   
}

.section-service-detail h4{position: relative;font-size:clamp(1rem, 1.2rem, 1.5rem);}
.section-service-detail h4::after{
    position: absolute;
    content:"";
    bottom:10px;
    left:0;
    width:50px;
    height: 3px;
    border-radius: 5px;
    background: linear-gradient(to right, #009dfe 30%, rgb(144, 0, 255));
}
.section-service-detail li{list-style: none; font-size: clamp(0.8rem, 1.2vw, 1rem);}
.section-service-detail li{
    font-family:inherit;
}
.section-service-detail span{
    position: relative;
}
.section-service-detail span::before{
    content: "$ ";
    font-weight: bold;
}
.section-service-detail span::after{
    content: " one-time";
    font-size: 1rem;
    color: #868a8e;
}
.section-service-detail-mnt span::after{
     content: " Periodic";
}
.section-service-detail .contact-btn{
    display: block;
    border-radius: 2rem;
    padding: 1rem;
    margin: 1rem auto;
    width: 90%;
}
.section-service-detail .contact-btn a{
    font-family:fantasy;
}
.list{display:flex;align-items: center;gap:0.5rem;}
.svg-list{
    width:20px;
    height: 20px; background-color:#6a00ff;
    border-radius:50%;
    padding:3px;
}
@media screen and (min-width:558px) and (max-width:866px){
    .section-service-detail .legendary{
        flex-grow: 0;
        flex-basis: 50%;
    }
    .section-service-detail .basic ,
    .section-service-detail .premium ,
    .section-service-detail .legendary{
        top:0;
        position: relative;
    }
}
/* =======Responsive mobile======= */
@media screen and (min-width:768px) {
    body {
        font-size: 18px;
    }

    nav {
        padding: 0.8rem 2.4rem;
    }

    nav ul {
        display: flex;
        position: static;
        padding: 0.8rem 1.6rem;
        border-radius: 50px;
        border: 1px solid rgb(86, 93, 112);
        transform: translateX(0);
        opacity: 1;
    }

    .contact-btn {
        display: block;
    }

    .menu {
        display: none;
    }

    .burger-btn {
        display: none;
    }

    .article-hero .hero-title,
    .effective,
    .article-hero .p-hero {
        width: 100%;
        text-align: left;
    }

    .hero-buttons {
        flex-direction: row;
    }

    main .btn {
        margin: 0;
    }

    .hero-pictures {
        display: block;
    }

    .article-about {
        flex-direction: row;
        gap: 3rem;
    }

    .list-about .item1 {
        border-left-color: #009dfe;
        box-shadow: 0 10px 30px rgba(13, 17, 236, 0.386) inset, 0 -10px 30px rgba(13, 17, 236, 0.632) inset;
        background-color: rgba(255, 255, 255, 0.03);
    }

    .images-about {
        display:flex;
        justify-content: center;
        align-items: center;
    }
    .services-section .container-cards{
        flex-direction: row;
    }
    .consultation{width: 60%;}
    .content-CTA{flex-direction:row;}
    .CTA-title,.p-CTA{width:100%;}
    form{width:100%;}
    .tech-title , .tech-p{width: 70%;}
    .technologies div[class^=tech]{width: 200px;height: 200px;}
    .statistic{ justify-content:space-evenly;align-items: center;}
    .pic-srv{display: flex;}
}

@media screen and (min-width:873px){
    .section-service-detail .premium{order: 1;background: hsla(278, 84%, 41%, 0.406);}
    .section-service-detail .legendary{ order: 2;background: hsla(226, 94%, 43%, 0.4);}
    .section-service-detail .basic{order:3}

}
/* =======Responsive Tablet======= */
@media screen and (min-width:1024px) {
    body {
        font-size: 20px;
    }

    .article-hero .hero-title,
    .effective,
    .article-hero .p-hero {
        width: 60%;
    }
    .container-cards{
        gap:0;
        flex-wrap: nowrap;
    }
    .services-section .card{
        margin-left: -50px;
        min-height: 80vh;
        min-width: 200px;
    }
    .container-cards .card:hover , .container-cards:has(.card:not(:hover)) .service-card-one {
        background-color:#efedea;
        box-shadow: 0 15px 40px rgba(0,0,0,0.5);
        color:black;
        transform: translateX(2rem);
        flex-grow:4;
    }
    .container-cards:has(.service-card-two:hover) .service-card-one,.container-cards:has(.service-card-three:hover) .service-card-one , .container-cards:has(.service-card-four:hover) .service-card-one , .container-cards:has(.service-card-five:hover) .service-card-one{
       color:#efedea; 
       background-color:black;
       transform: translateX(0);
    }
    .article-card{
        width: 220px;
    }
    .services-section .card .btn{
        margin-top: 3rem;
        background-color:transparent;
        color:#111;
        border:2px solid #111;
    }
    .CTA-title,.p-CTA{text-align:start; width: 60%;}
    .info-2, .info-4{transform: scale(1.15);}
    .info-3{transform: scale(1.3);}
}